/* fonts */

@import url('https://rsms.me/inter/inter.css');

/* tailwind */

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* global */

a {
  @apply text-teal-700 transition duration-300;
}

a:hover {
  @apply text-teal-500;
}

body {
  @apply bg-teal-600 text-black font-sans cursor-default max-w-2xl mx-auto;
}

h1 {
  @apply text-4xl font-semibold leading-none;
}

/* layout */

#root {
  @apply flex flex-col min-h-screen;
}

main {
  @apply flex-1 bg-white rounded-lg p-8 mx-4 mb-8 shadow;
}

/* components */

.spinner {
  @apply h-8 w-8 relative mx-auto;

  animation: spinner 1s linear infinite;
}

.spinner:after,
.spinner:before {
  @apply rounded-full block h-full w-full absolute;

  border: 2px solid white;
  content: '';
}

.spinner:after {
  border-top-color: #234e52;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* firebase */

.firebaseui-container {
  @apply bg-transparent;
}
