/* fonts */

@import url('https://rsms.me/inter/inter.css');

/* tailwind */

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* global */

a {
  @apply text-teal-700 transition duration-300;
}

a:hover {
  @apply text-teal-500;
}

body {
  @apply bg-teal-600 text-black font-sans cursor-default max-w-2xl mx-auto outline-none;
}

form label {
  @apply block my-8;
}

form label span {
  @apply block mb-2 font-medium;
}

form button,
form input,
form select {
  @apply appearance-none bg-gray-200 p-4 rounded w-full;
}

form button {
  @apply bg-teal-500 text-center text-white font-medium px-8 transition duration-300;
}

form button:hover {
  @apply bg-teal-400;
}

form button:active {
  @apply bg-teal-600;
}

form select {
  background-image: url('/img/expand.svg');
  background-position: calc(100% - 1rem) center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
}

h1 {
  @apply text-4xl font-semibold leading-none;
}

/* layout */

#root {
  @apply flex flex-col min-h-screen;
}

main {
  @apply flex-1 bg-white rounded-lg p-8 mx-4 mb-8 shadow;
}

/* components */

.spinner {
  @apply h-8 w-8 relative mx-auto;

  animation: spinner 1s linear infinite;
}

.spinner:after,
.spinner:before {
  @apply rounded-full block h-full w-full absolute;

  border: 2px solid white;
  content: '';
}

.spinner:after {
  border-top-color: #234e52;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* firebase */

.firebaseui-container {
  @apply bg-transparent;
}
